@media (max-width: 640px) {

/*Règles générales*/

.smart-no-radius {
    border-radius: 0;
}

.container, .smart-width-100 {
    width: 100%;
}

.pad-mobile {
    padding:0 20px;
}

.mar-bot-50 {
    margin-bottom: 0;
}

/*Header*/
.hide-mobile {
    display:none;
}

/*Cat Hebergement*/

.hebergement {
    background-color: white;
    max-width: 100%;  
}

/*Vignettes*/

.thumbnail-horiz,.thumbnail-verti, .big-thumbnail, .fit-thumbnail {
    margin:auto;
    margin-bottom:15px;
}

.thumbnail-verti, .img-verti, .big-thumbnail, .fit-thumbnail {
    width: 345px;
}

.big-thumbnail {
   height:200px;
   min-width: 345px;
}

.img-activity-big {
    height:70%;
}

}

@media (min-width: 640px) and (max-width: 1287px){

    .pad-mobile {
        padding:0 20px;
    }

    .pad-tablet {
        padding:0 20px;
    }

    .hebergement {
        max-width: 100%;  
    }

    #hide-desktop {
        display:none;
    }
}

@media (min-width: 1288px){

    #hide-desktop {
        display:none;
    }
}