/* Smartphones*/
@media (max-width: 767px) {   

    button {
        width: 10%;
    }

    input {
        width: 80%;
    }

    #signin {
        order: 2;
        margin-right: 20px;
    }

    #logo {
        margin-left: 20px;
    }

    #active {
        border-top:0;
    }

    header {
        margin:0;
    }

    nav {
        width:100%;
    }

    nav a {
        padding: 0;
    }

    nav li {
        width:50%;
        text-align: center;
        border-bottom: solid medium #0065FC;
        padding: 20px 0;
    }

    #n-active {
        border-bottom: solid medium #F2F2F2;
    }
    

    #search {
        width: 100%;
    }

    #word-filter {
        width:100%;
        margin-top:0;
    }
    
    #hebergement {
        flex-wrap: wrap-reverse;
        margin-bottom: 0;
    }

    #container-hebergement {
        min-width: 100%;
        background-color: white;
    }

    #popular {
        border-radius: 0;
        width:100%;
        min-width:0;
    }

    /*Section activités*/


    #container-activity {
        margin-left: 0;   
    }
    
    .big-box {
        width:100%;
        margin-left: 0;
        margin-right: 0;
        min-height: 205px;
        height:205px;
    }
    
    .container-img-big { 
        height: 70%;
    }

    .container-double {
        width:100%;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) { 

    .desktop {
        display: none;
    }

    #hebergement {
        margin-left: 0;
        margin-right: 0;
    }

 }

/*Faire disparaitre les éléments réservés aux mobiles*/
@media (min-width: 993px) {

    .mobile {
        display: none;
    }
}