/* Règles générales */

html {
    font-size: 100%; /* permet au texte de s'adapter selon la taille de l'écran */
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 65px;
    font-size: 0.875em; /* défini la taille générale */
  }

  li {
      list-style-type: none;
  }

  ul {
      display: flex;
  }

  a {
      text-decoration: none;
      color: black;
  }

  .grey {
      background-color: #F2F2F2;
  }

  /*changement couleur icônes en bleu*/
  i.fas {
      color: #0065FC;
  }

  /* Header */

  header {
      display: flex;
      justify-content: space-between;
  }

  #sign-in {
      color: #0065FC;
      font-weight: bold;
  }

  .menu > li {
      padding: 0 43px;
  }



